absl-py
aiohappyeyeballs
aiohttp
aiosignal
apollo
asttokens
astunparse
async-timeout
attrs
bagpy
bcbio-gff
biopython
bitarray
bitstring
cachetools
catkin-pkg
certifi
charset-normalizer
click
contourpy
cv-bridge
cyber-record
cycler
decorator
distro
docutils
easydict~=1.13
efficientnet-pytorch
exceptiongroup
executing
filelock
flatbuffers
fonttools
frozenlist
fsspec
gast
gnupg
google-pasta
grpcio
h5py
huggingface-hub
idna
importlib_resources
iniconfig
ipython
jedi
Jinja2
keras
kiwisolver
libclang
lightning-utilities
loguru~=0.7.3
Markdown
markdown-it-py
MarkupSafe
matplotlib~=3.10.0
matplotlib-inline
mdurl
ml-dtypes
mpmath
multidict
namex
networkx
numpy~=2.0.2
opencv-python
opt_einsum
optree
packaging
pandas
parso
pexpect
pillow
pluggy
prompt_toolkit
propcache
protobuf
psutil
ptyprocess
pure_eval
py3rosmsgs
pycryptodomex
Pygments
pyparsing
pyquaternion
pyserial
pytest
python-dateutil
pytorch-lightning~=2.5.0.post0
pytz
PyYAML~=6.0.2
requests
rich
rospkg
safetensors
seaborn
setuptools-scm
shapely~=2.0.7
six
stack-data
sympy
termcolor
timm
tomli
tqdm~=4.67.1
traitlets
triton
typing_extensions
tzdata
urllib3
wcwidth
Werkzeug
wrapt
yarl
torch~=2.6.0
tensorflow~=2.18.0